# Created by .ignore support plugin (hsz.mobi)
.idea/Spring-Security-Simple-OAuth.iml
.idea/inspectionProfiles/
.idea/modules.xml
.idea/workspace.xml
.gitignore
.idea
spring-security-auth-server/.idea
spring-security-auth-server/.mvn
spring-security-auth-server/mvnw.cmd
spring-security-auth-server/mvnw
spring-security-auth-server/.gitignore

spring-security-client/mvnw.cmd
spring-security-client/mvnw
spring-security-client/.mvn
spring-security-client/.idea
spring-security-client/.gitignore

